/* Google Font: Roboto Mono */
@import url('fonts.googleapis.com');

body {
  font-family: 'Roboto Mono', monospace;
  background-color: black;
  color: #33FF33;           
}

.cursor {
  display: inline-block;
  margin-left: 2px;
  font-weight: bold;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
