body {
  font-family: 'Roboto Mono', monospace;
  background-color: black;
  color: #33FF33;           
}

.cursor {
  display: inline-block;
  width: 10px;
  font-weight: bold;
}

.blink {
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
